.tag{
    font-size: 0.85rem;
    border-radius: 0.8rem;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    transition: 0.1s ease-in-out; 

    color: #777;
    border: 1px solid #777;
    background-color: white;
    font-family: Alata;

    // flex: 0 0 100%;

    &:hover{
        color: white;

        border: 1px solid var(--color-primary);
        background-color: var(--color-primary);

   
    }

}