.tag{
    font-size: 0.85rem;
    border: 1px solid var(--font-dark-grey);
    border-radius: 0.8rem;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    transition: 0.1s ease-in-out; 

    // color: #eee;
    // border: 1px solid var(--font-light-blue);
    // background-color: var(--font-light-blue);

    color: var(--font-dark-grey);
    border: 1px solid var(--font-dark-grey);
    background-color: white;


    &:hover{
        color: white;
        border: 1px solid var(--font-light-blue);
        background-color: var(--font-light-blue);

        // color: var(--font-dark-grey);
        // border: 1px solid var(--font-dark-grey);
        // background-color: white;
    }

}