


.article-view{
    display:flex;
    flex-direction: column;
    // border: 5px solid red;
    width: 850px;
    max-width: 90vw; //BUG test shriink
    min-height: 100vh;
    //min-width: 400px;
    max-width: var(--max-content-width);
    justify-content: center;
    //padding: 0 10%;
}

.comment-count{
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-weight: 900;
}



//TODO add media queries to remove 
