//define a max width for the main


.content{

    display:flex;
    max-width: var(--max-content-width);
    // margin-left:auto;
    // margin-right:auto;
    justify-content: center;
    margin-left:5%;
    margin-right:5%;
    min-height: 100vh;
    min-width: 30vw;

    .article-box{
        // border: 2px solid green;
        display: flex;
        flex-direction: column;
    }


    
}

.tag-box{
    // border: 2px solid pink;
    width:300px;
}


.tag-list-home{
    margin: 0.6rem 0.1rem;
    display:flex;
    gap: 0.45rem;
}



