//define a max width for the main


.content{
    display:flex;
    max-width: var(--max-content-width);
    // justify-content: center;
    width: 90vw;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 20vh;
    min-height: 100vh;
    min-width: 30vw;

    .article-box{ //this is first child of content
        //idk what this does but the article thumbnail chances size when commented
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-right: auto;
        min-height: 100vh;

    }

    .tag-box{
        width: 25%;
        max-width: 30%;
        padding: 0.8rem 0.5rem;
    }

    .tag-group{
        margin: 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        // width: 100%;
        // border: 1px solid red;
    }

}


.tag-list-home{
    margin: 0.6rem 0.1rem;
    display:flex;
    gap: 0.45rem;
}

.tag-header{
    font-family: Alata;
    font-size: 1.5rem;
}

.view-setter{
    display: flex;
    align-items:end;
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid #eee;
    padding: 1.2rem 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem; //border to have the same "padding" as the article card
    font-size: 1.5rem;
    font-family: Alata;
    color: var(--font-light);

    .selected-view{
        color: var(--font-dark-grey);
        text-decoration: underline;
    }

    span{ 
        transition: 0.3s  ease-in-out;
        &:hover{
            transform: translateY(-0.2rem);
            text-decoration: underline;
        }
    }



}



