.article-card{  
    display:flex;
    gap:0.5rem;
    border-bottom: 1px solid #eee;
    padding: 1.2rem;
    margin: 0.5rem;
    min-height: 15vh;
    position: relative;
    max-height: 250px;
    // border:2px solid red;

    .article-content{
        // border: 2px solid red;
        display:flex;
        
        flex-direction: column;
        padding-left: 0.5rem;
    
        width: 75%;
        max-width: 800px;

        .article-title{
            // margin-bottom: auto;
            font-family: Alata,Arial;
            font-weight: bold;
            font-size: 1.55rem;
            color:black;

            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        .article-preview{
            color: var(--font-light)
        }

        .article-likes{
            display:flex;
            gap: 6px;
            width: fit-content;
            margin-top: auto;

        }

        .article-meta{
            color: var(--font-light);
            font-style: italic;
            font-size: 0.9rem;
            display:flex;
            gap: 0.3rem;
            
        }

    }

    
    .article-image{
        // border: 2px solid green;
        // object-fit: cover;
        aspect-ratio: 1/1;
        max-width: 25%;
        height: auto;

    }


    

}