@import "./assets//styles/mixins.scss";
@import "./assets//styles/variables.scss";
@import "./assets//styles/common.scss";


@font-face{
    font-family: 'Inter';
    src: url("./assets/fonts/Inter-Regular.ttf")
}



:root{
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px; //for web usage 
    color: #212427;

    --font-light: #707070;
    --font-grey: #4e4e4e;
    --font-dark-grey: #212427;
    --font-light-blue: #538cff;
    --font-green: #1e9c5d;
    --max-content-width: 1100px;
    --color-primary: #3e968b;

}

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #eee;
    
    // div{
    //     background-color: white;
    // }
}


a{
    text-decoration: none;
}

body{
    min-height: 100vh;
}

.material-symbols-outlined{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*:focus{
    outline:none;
}

button{
    background: white;
    border: 1px solid var(--font-grey);
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
}

/* landscape phones and smaller*/
@media (max-width: 480px) {
    :root{
        font-size: 12px;
    }

    .content{ //home page main contain class
        flex-direction: column;

    }
    .article-box,.tag-box,.tag-list{
        width:100% !important;
        max-width: 100% !important;
    }
    // .tag-box{
    //     width: 100% !important;
    // }


}